<header class="site-header animated notBottom notTop slideDown">
    <a href="/" class="title-link">{{ site.title }}</a>
    <nav class="site-nav">
        <ul>
            <li>
                <a href="/blog.html">Blog</a>
            </li>
            <li>
                <a href="#">Projetos</a>
            </li>
            <li>
                <a href="/sobre.html">Sobre Mim</a>
            </li>
        </ul>
    </nav>
</header>

<main class="post">
    <header class="post-header">
        <h1 class="post-title">{{ site.title }}</h1>
        <p>Front-End Developer</p>
        <div class="post-image"></div>
    </header>         
</main>
