@media (min-width: 320px) and (max-width: 480px) {
   body .post-header .post-title {
        font-size: 39px;
    }

    .content {
      flex-direction: column;
    }

    .content .topics {
        padding-right: 0;
        li{
          max-width: 100%;
          width: 48vh;
        }
    }

    .content-about .post-title {
        padding: 10px 10px;
    }

    .content-about h2 {
        padding: 1em;
    }
    .content-about ul {
        padding: 2em;
    }
    .content-text p {
        padding: 1em;
    }

}

@media (min-width: 481px) and (max-width: 600px){
  .content {
    flex-direction: column;
  }
}
