.cotent-about {
    background: #f2f2f2;
    position: relative;
    top:0 ;
}

.content-about p , ul , h1 , h2{
    max-width: 50rem;
    margin: auto;
    
}

.post-tile {
    padding: 10px 0;
}

.content-about h2 {
    padding: 1em 0;
}
.content-about p {
    line-height: 1.5em;
}

.content-about ul {
    padding: 1em 0;
    li {
        padding: 0.5em 0;
    }
}